@media (max-width: 767px) {
    /* Adjust styles for mobile devices */
  
    /* Center the content vertically */
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    main {
      /* Adjust spacing and layout for the main content */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px;
      max-width: 300px;
      margin: 0 auto;
      /* Move the main content to the top */
      margin-top: 20px;
    }
  
    h1 {
      font-size: 28px;
      margin-bottom: 0;
      /* Align the title to the top of the main container */
      align-self: flex-start;
    }
  
    #sessionType {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    #timer {
      font-size: 48px;
      margin-bottom: 10px;
    }
  }